.button-container{
    align-items: center;
    display: flex;
    justify-content: center;
    }

#bordes{
    border: none;
    padding: 10px;
    margin-right: 2%;
    border-radius: 3px;
    }

.primary-btn{
    background-color: #3498db;
    color: #fff;
    }

.secondary-btn{
    background-color: #2ecc71;
    color: #fff;
    }

.success-btn{
    background-color: #27ae60;
    color: #fff;
    }

.danger-btn{
    background-color: #e74c3c;
    color: #fff;
    }